/* Allgemeine Stile */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #ff4d4d; /* Rot */
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2em;
}

main {
    padding: 20px;
}

/* Tabelle */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 20px;
    table-layout: fixed;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px 8px;
    white-space: nowrap;
    font-size: 0.8em; /* Kleinere Schrift für Tabellen */
    overflow: auto;
}

table th {
    background-color: #ffcccc; /* Heller Rotton */
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ffdddd; /* Dezentes Highlight */
}

/* Buttons */
button {
    background-color: #ff4d4d; /* Rot */
    color: white;
    border: none;
    text-align: center;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9em; /* Kleinere Schrift für Buttons */
}

button:hover {
    background-color: #e60000; /* Dunkler Rotton */
}

/* Formular */
form {
    font-size: 0.9em; /* Allgemein kleinere Schrift für Formulare */
}

form div {
    text-align: center;
}

form input,
form select {
    height: 30px; /* Kleinere Eingabefelder */
    padding: 5px 8px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    vertical-align: middle;
    width: inherit;
    height: 38px;
    color: black;
    text-overflow: ellipsis;
    background-color:white;
}


/* Stichwort-Feld */
#einsatznummer_lts,
#stichwort, 
#adresse,
#fahrzeug_name,
#alarmuhrzeit,
#zurueckzeit {
    width: 100%; /* Dynamische Breite */
    max-width: 100%; /* Verhindert Überlauf */
    box-sizing: border-box; /* Padding und Border in Breitenberechnung einbeziehen */
}

form button {
    padding: 8px 10px;
    font-size: 0.9em;
}

#Jetzt {
    width: 29%; /* Vergrößert den Button für bessere Klickbarkeit */
}

#dünn {
    width: 13.75%;
}

#mittel {
    width: 15%;
}

#dick {
    width: 15%;
}

/* Login-Formular */
.login-form {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    background-color: #ff4d4d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #e60000;
}

.error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

/* Logout-Button */
.logout-form {
    position: absolute;
    top: 20px;
    right: 20px;
}

.logout-form button {
    background-color: #ff4d4d; /* Rot */
    color: white;
    border: 1px solid #ddd;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

.logout-form button:hover {
    background-color: #e60000; /* Dunkler Rotton */
}


/* Back-Button */
.back-form {
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-form button {
    background-color: #ff4d4d; /* Rot */
    color: white;
    border: 1px solid #ddd;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

.back-form button:hover {
    background-color: #e60000; /* Dunkler Rotton */
}